
  <div >
    <input
      type="text"
      id="input"
      placeholder="Ingrese el pokemon"
      [(ngModel)]="name"
    />
    <div >
      <button
        id="button"
        (click)="search()"
        type="button"
      >
        Buscar
      </button>
    </div>
  </div>
  <br />
  
  <div *ngIf="visibilidad">
    <div class="row">
      <div class="col-4">
        <h3>Name</h3>
        <h6>{{ namePokemon }}</h6>
      </div>
  
      <div *ngIf="visibilidad" >
        <h5>Image</h5>
        <img id="image" src="{{ urlImage }}" />
      </div>
      <div *ngIf="visibilidad" >
        <h5>Type</h5>
        <ul>
          <li id="li" *ngFor="let tipo of types" class="list-group-item">
            {{ tipo.type.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  
